<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header(~{::link})">
    <link rel="stylesheet" th:href="@{../../css/profile.css}">
    <link rel="stylesheet" th:href="@{../../css/progress.css}">
    <link rel="stylesheet" th:href="@{../css/sidebar.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid wrapper">

    <div class="container cards-index">
        <div class="row">
            <div class="col-3">
                <div class="profile-avatar">
                    <div class="avatar">
                        <img th:src="${user.avatar}" alt="Avatar">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="table">
                    <ul class="list-group profile-details-list">
                        <li th:text="'Name: ' + ${user.name}"></li>
                        <li th:text="'Username: ' + ${user.username}"></li>
                        <li th:text="'Nickname: ' + ${user.nickname}"></li>
                        <li th:text="'Email: ' + ${user.email}"></li>
                        <li th:text="'School: ' + ${user.school}"></li>
                        <li class="profile-level" th:text="'Account level: '+ ${user.accountLevel}"></li>
                    </ul>
                </div>
            </div>
            <div class="col-5">

            </div>
        </div>
        <div class="row">
            <div class="grid-container" th:each="project : ${user.hosted}">
                <div class="grid-item">
                    <div class="grid-item-content">
                        <h5 th:text="${project.title}"></h5>
                        <a th:href="@{'/projects/' + ${project.projectId} + '/details'}"
                           th:text="'#' + ${project.projectId}"></a>
                        <small class="devStatus" th:text="${project.devStatus}"></small>
                        <small class="created_at"
                               th:text="${#temporals.format(project.createdAt, 'dd/MM/yyyy HH:mm')}"></small>
                        <small th:text="'PUBLISHED: ' + ${project.isPublished}"></small>
                        <br>
                        <button class="base-btn btn-sm btn-blue btn-edit">
                            <a th:href="@{'/projects/' + ${project.projectId} + '/edit'}">🛠 edit</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>